Transcribe_Audio_Files__Summarize_with_Gemini__and_Store_in_Google_docs (1).json
{
  "name": "Transcribe Audio Files, Summarize with Gemini, and Store in Google docs",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1d8qnj0G5kv2q5191_2-UbP7SdBX-_prb",
          "mode": "list",
          "cachedResultName": "Recordings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1d8qnj0G5kv2q5191_2-UbP7SdBX-_prb"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "4bb98287-b0fc-4b34-8cf0-f0870cf313e6",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        440,
        440
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WItAKcnxyWVim3Sm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "binaryPropertyName": "data",
          "fileName": "={{ $json.originalFilename }}"
        }
      },
      "id": "29cb5298-7ac5-420d-8c03-a6881c94a6a5",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        680,
        440
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WItAKcnxyWVim3Sm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Trigger and Download of audio file\n\nAs soon as a audio file is uploaded the trigger will start and download the audio file. ",
        "height": 425.9351190986499,
        "width": 459.0695038476583
      },
      "id": "1acbd9bc-5418-440b-8a61-e86065edc72e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Send to Assembly Ai for Transcription and Extracts Data\n\nAfter we have the file, we send it to Assembly AI for transciption and sending that transcipt to Gemini to get a summary and some additional information",
        "height": 420,
        "width": 777,
        "color": 4
      },
      "id": "b2c5fda6-e529-4b47-b871-e51fc7038e63",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "f9a88022d0e54f20b613d1f37cdac724"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        440
      ],
      "id": "4efe5d35-dbd7-443a-91d9-46aa920c453b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyDMdeuiTWWKBuqHMugQWs_N1FzQKJQM2Rw",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Please summarize the following audio transcription. Focus on the main points and key takeaways. \\n\\nTranscription:\\n{{ $json.text }}\" \n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        440
      ],
      "id": "b0a990db-466d-4adc-9658-e0512bc50b5d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "f9a88022d0e54f20b613d1f37cdac724"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"audio_url\": \"{{ $json.upload_url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        440
      ],
      "id": "3fe28e2b-40e2-40d0-8bc1-d3eabd7e6787",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "f9a88022d0e54f20b613d1f37cdac724"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        440
      ],
      "id": "20d0cac3-872a-4d9b-8ad0-9c0d3fdf43d3",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc13953d-7a7f-4ce0-a586-c9c509c146c9",
              "leftValue": "={{ $json.status }}",
              "rightValue": "\"completed\"",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1840,
        440
      ],
      "id": "fae7229d-7d66-4049-8b01-612bb8ef01b5",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1tig2jBQ-gb2uf9oRoKcgimMpAHq3j0H8alxKS3fUUKk/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.candidates[0].content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2360,
        440
      ],
      "id": "93f85290-2a85-4307-b3db-0bf776a703b7",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "jDLR9DjKZTwWWQ8c",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Filtereing Audio and sending to gemini\n\nwe use a loop that runs till the status is completed and then it is sent to gemini for summary ",
        "height": 420,
        "width": 457,
        "color": 6
      },
      "id": "7c04820a-9057-46b6-ac24-8ba8942aea82",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1780,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Storing in Google Docs\n\nAfter the summary generated by gemini we store it in google docs",
        "height": 420,
        "width": 457,
        "color": 3
      },
      "id": "718fe314-78d0-4382-b638-572954f28cc9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1320,
        440
      ],
      "id": "6758c0eb-6df2-4b54-91d9-31e5c50bdc92",
      "name": "Wait",
      "webhookId": "fb9f8e02-7dbd-4b46-bc86-6e35cba91e3a"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ec696537-c6b1-4af5-9f87-1d25f0b47dc9",
  "meta": {
    "templateId": "2178",
    "templateCredsSetupCompleted": true,
    "instanceId": "c5d4368d83002be9ef7809218294cb73d53da51eafd2ee3426d7e3fb2d2cdfb2"
  },
  "id": "xMSQ0u26kONXlPC4",
  "tags": []
}